.notification-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  .chat-box {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    margin: 50px;
    height: 600px; /* Increase the height as desired */
    padding: 2rem;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 238, 0.8);
    border-radius: 8px;
    width: 950px;
  }
  
  
  
  .close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 500px;
    margin-top: 1rem;
  }
  
  
  .close-icon svg {
    font-size: 2rem;
    color: red;
  }
  
  .notification-icon svg {
    font-size: 2rem;
    color: red;
  }
  
  